<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <!-- <ion-menu-button autoHide="false"></ion-menu-button> -->
            <ion-back-button color="light" defaultHref="tebs"></ion-back-button>
        </ion-buttons>
        <ion-title style="margin-right:50px;" class="title" text-center>
            Admin | Add Notice
        </ion-title>

    </ion-toolbar>

</ion-header>

<ion-content padding>

    <ion-list>
        <ion-item>
            <ion-label position="floating">Title</ion-label>
            <ion-input type="text" [(ngModel)]="noticeInfo.title" name="title"></ion-input>
        </ion-item>
        <br>

        <ion-item>
            <ion-label position="floating">Category</ion-label>
            <ion-input type="text" [(ngModel)]="noticeInfo.category" name="category"></ion-input>
        </ion-item>
        <br>

        <ion-item>
            <ion-label position="floating">Reader</ion-label>
            <ion-select placeholder="Select Reader" [(ngModel)]="noticeInfo.reader" name="reader">
                <ion-select-option value="student">Students</ion-select-option>
                <ion-select-option value="staff">Staff</ion-select-option>
                <ion-select-option value="parent">Parent</ion-select-option>
            </ion-select>
            <!-- <ion-input type="text" [(ngModel)]="noticeInfo.reader" name="reader"></ion-input> -->
        </ion-item>
        <br>

        <ion-item>
            <ion-label position="floating">Description</ion-label>
            <ion-textarea type="text" [(ngModel)]="noticeInfo.description" name="description"></ion-textarea>
        </ion-item>
        <br>

    </ion-list>
    <br>
    <br>
    <ion-button type=" submit" expand="block" class="oj-blue-button" (click)="addNotice()">let's go!</ion-button>


</ion-content>