 <ion-tabs>
  <ion-tab-bar slot="top">
    <ion-tab-button   tab="Chats">
      <ion-icon href = "/chat-page" name="chatboxes" color ="light"></ion-icon>
      <ion-label color ="light">Chats</ion-label>
    </ion-tab-button>

    <ion-tab-button href="groups" tab="Groups">
      <ion-icon name="contacts" color ="light"></ion-icon>
      <ion-label color ="light">Groups</ion-label>
    </ion-tab-button>

    <ion-tab-button href = "call" tab="Call">
      <ion-icon name="call" color ="light"></ion-icon>
      <ion-label color ="light">Calls</ion-label>
    </ion-tab-button>

</ion-tab-bar>
</ion-tabs> 

<!-- <ion-tabs>
  <ion-tab label="One" icon="navigate" href= "/''/(chat-page:chat-page)">
    <ion-router-outlet name="chat-page"></ion-router-outlet>
  </ion-tab>
  <ion-tab label="Two" icon="person" href="/''/(groups:groups)">
    <ion-router-outlet name="groups"></ion-router-outlet>
  </ion-tab>
  <ion-tab label="Three" icon="bookmarks" href="/''/(call:call)">
    <ion-router-outlet name="call"></ion-router-outlet>
  </ion-tab>
</ion-tabs> -->