<!-- <ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button defaultHref=""></ion-back-button>
        </ion-buttons>
        <ion-title class="title" style="margin-right:50px;">EduTalk Login</ion-title>
    </ion-toolbar>
</ion-header> -->


<ion-content padding class="animated fadeIn login auth-page">
    <div class="login-content">

        <!-- Logo -->
        <div padding-horizontal text-center class="animated fadeInDown">

            <div>
                <ion-thumbnail class="you">
                    <img src="../../assets/images\EduTalk-Logo.png" width="320">
                    <hr><br>
                </ion-thumbnail>

                <h2 ion-text class="text-warning">
                    <strong>EduTalk</strong>
                </h2> -->
            </div>

            <ion-item>
                <ion-label position="floating" style="color: #2f315a;">
                    <ion-icon name="person" item-start class="text-primary"></ion-icon>
                    Email Address
                </ion-label>
                <ion-input type="text" [(ngModel)]='email' name="username"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label position="floating" style="color:#2f315a;">
                    <ion-icon name="lock" item-start class="text-primary"></ion-icon>
                    Password
                </ion-label>
                <ion-input type="password" [(ngModel)]='password' name="password"></ion-input>
            </ion-item>


            <p text-right>
                <ion-label text-right color="text-warning" tappable end (click)="forgotPassword()">
                    Forgot Password?
                </ion-label>

            </p>

            <div padding>
                <ion-button expand="block" type='submit' class="oj-blue-button" margin-top (click)="loginUser()">Login</ion-button>
                <!-- <ion-button expand="block" fill="clear" color="dark" margin-top><strong>OR</strong></ion-button> -->
                <ion-button expand="block" fill="outline" margin-top (click)="goToRegisterPage()"><strong>Sign up if you do not have an account</strong></ion-button>
                <!-- <ion-button expand="block" fill="outline" margin-top (click)="forgotPassword()"><strong>I forgot my password</strong></ion-button> -->
            </div>
        </div>
    </div>

</ion-content>