<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <!-- <ion-menu-button autoHide="false"></ion-menu-button> -->
            <ion-back-button color="light" defaultHref="tebs"></ion-back-button>
        </ion-buttons>
        <ion-title style="margin-right:50px;" class="title" text-center>
            Profile
        </ion-title>

    </ion-toolbar>
    <img src="../../assets/images/EduTalk-Logo.png">

</ion-header>

<ion-content>

    <ion-list>


        <ion-item>
            <ion-icon slot="start" name="star" color="primary"></ion-icon>
            <ion-label>Username</ion-label>
            <ion-icon style="color: #2f315a;" item-right></ion-icon>


        </ion-item>

        <ion-item>
            <ion-icon slot="start" name="contact" color="primary"></ion-icon>
            <ion-label> Profile Picture</ion-label>
            <ion-icon style="color: #2f315a;" item-right></ion-icon>


        </ion-item>

        <ion-item>
            <ion-icon slot="start" name="contact" color="primary"></ion-icon>
            <ion-label> UserID</ion-label>
            <ion-icon style="color: #2f315a;" item-right></ion-icon>


        </ion-item>


        <ion-item>
            <ion-icon slot="start" name="lock" color="primary"></ion-icon>
            <ion-label> Change Password</ion-label>
            <ion-icon style="color: #2f315a;" item-right></ion-icon>


        </ion-item>
    </ion-list>
</ion-content>