<ion-header>
  <!-- <ion-toolbar>
    <ion-title>Profile</ion-title>
  </ion-toolbar> -->
   

    <ion-toolbar color="primary">
        <!-- <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons> -->
        <ion-buttons slot="start">
            <ion-menu-button autoHide="false"></ion-menu-button>
        </ion-buttons>
        <ion-title style="margin-right:50px;" class="title" text-center>
          Profile
        </ion-title>

    </ion-toolbar>
    <img src="../../assets/images/EduTalk-Logo.png"> 
 
  </ion-header>
  
  <ion-content>
       
    <!-- <hr> -->
    <ion-list>

        
            <ion-item>
                    <ion-icon slot="start" name="star" color="primary"></ion-icon>
                    <ion-label>Username</ion-label>
                    <ion-icon  style="color: #2f315a;" item-right></ion-icon>
                    
                    
                       </ion-item>
    
       <ion-item>
            <ion-icon slot="start" name="contact" color="primary"></ion-icon>
            <ion-label> Profile Picture</ion-label>
            <ion-icon  style="color: #2f315a;" item-right></ion-icon>
            
            
           </ion-item>

           <ion-item>
                <ion-icon slot="start" name="contact" color="primary"></ion-icon>
                <ion-label> UserID</ion-label>
                <ion-icon  style="color: #2f315a;" item-right></ion-icon>
                
                
               </ion-item>


                   <ion-item>
                        <ion-icon slot="start" name="lock" color="primary"></ion-icon>
                        <ion-label> Change Password</ion-label>
                        <ion-icon  style="color: #2f315a;" item-right></ion-icon>
                        
                        
                       </ion-item>
    </ion-list>
  
  
    <!-- <ion-grid>
        <ion-row>
            <ion-col size="6">
                <div>
                    <ion-card text-center padding color="light" (click)="profilepicture()">
                        <img src="../../assets/icon/008-user-1.png">
                        <h3>Profile Picture</h3>
                    </ion-card>
                </div>
                <hr>
  
               
                <ion-card padding color="light" (click)="userid()">
                    <img src="../../assets/icon/008-user-1.png">
                    <h3>UserID</h3>
                </ion-card>
                <hr>
  
  
  
  
            </ion-col>
            <ion-col size="6">
  
                <ion-card padding color="light" (click)="name()">
              <img src="/assets/icon/008-user-1.png">
                    <h3>Name</h3>
                </ion-card>
                <hr>
  
                <ion-card padding color="light" (click)="surname()">
                    <img src="../../assets/icon/008-user-1.png">
                    <h3>Surname</h3>
                </ion-card>
                <hr>
  
                <ion-card padding color="light" (click)="changepassword()">
                    <img src="../../assets/my-icons-collection (4)/png/032-password.png">
                    <h3>Change password</h3>
                </ion-card>
                <hr>
  
               
            </ion-col>
        </ion-row>
    </ion-grid>
  
  
   -->
  </ion-content>