ion-content {
    --background: none;
    background-image: url('../../assets/images/download.jpg');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}

.you {
    margin: auto;
    height: auto;
    width: 300px;
}