<ion-header>
    <ion-toolbar color="primary">
        <ion-title text-center>Welcome to EduTalk</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-thumbnail class="you">
        <img src="../../assets/images\EduTalk-Logo.png" width="320">
    </ion-thumbnail>
    <hr><br>

    <ion-button (click)="student()" fill="outline" expand="block" size="default" color="primary"> Log in as Student</ion-button><br>
    <ion-button (click)="staff()" fill="outline" expand="block" size="default" color="primary"> Log in as Staff</ion-button><br>
    <ion-button (click)="parent()" fill="outline" expand="block" size="default" color="primary"> Log in as Parent</ion-button><br>

</ion-content>