<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button autoHide="false"></ion-menu-button>
            <!-- <ion-back-button color="light" defaultHref="tebs"></ion-back-button> -->
        </ion-buttons>
        <ion-title style="margin-right:50px;" class="title" text-center>
            Noticeboard
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-grid>
        <ion-row>
            <ion-col size="6">
                <div>
                    <ion-card text-center padding color="light" (click)="campusnews()">
                        <img src="../../assets/icons/003-newspaper.png">
                        <h3>Campus News</h3>
                    </ion-card>
                </div>
                <hr>


                <ion-card padding color="light" (click)="events()">
                    <img src="../../assets/icons/018-calendar.png">
                    <h3>Events</h3>
                </ion-card>
                <hr>




            </ion-col>
            <ion-col size="6">

                <ion-card padding color="light" (click)="classupdates()">
                    <img src="../../assets/icons/017-classroom-1.png">
                    <h3>Class Updates</h3>
                </ion-card>
                <hr>

                <ion-card padding color="light" (click)="sports()">
                    <img src="../../assets/icons/021-football.png">
                    <h3>Sports</h3>
                </ion-card>
                <hr>


            </ion-col>
        </ion-row>
    </ion-grid>



</ion-content>